.git
.gitattributes
.gitignore
.env
.env.*
.fleet
.idea
.nova
.phpunit.cache
.vscode
.zed

node_modules
vendor
public/build
public/hot
public/storage

storage/logs/*
storage/framework/cache/*
storage/framework/sessions/*
storage/framework/testing/*
storage/framework/views/*
bootstrap/cache/*.php

database/*.sqlite
material
tests

*.log
*.md
phpunit.xml
package.json
package-lock.json
vite.config.js
